---
layout: page
title: Portfolio
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row shuffle-wrapper h-100">
      {% for item in site.data.settings.portfolio-items %}
        <div class="col-12 mt-3" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
          <h2>{{item.title}}</h2>
          {% if item.winner %}  <span class="badge badge-warning text-white mb-2">{{item.winner}}</span>{% endif %}
          <p className="mb-1">{{item.description}}</p>
          <div class="d-flex flex-row">
              {% if item.url %}
                <a href="{{item.url}}" class="btn-sm btn-secondary mr-2" >More info</a> 
              {% endif %}
              {% if item.youtube %}
                <a href="{{item.youtube}}" class="btn-sm btn-secondary mr-2" >View video</a> 
              {% endif %}
              {% for repo in item.repos %}
                <a href="{{repo.repo}}" class="btn-sm btn-secondary mr-2">View repository</a>
              {% endfor %}  
            </div>
        </div>
        
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
